/* Write your CSS here */

.conatainer {
  background-color: #ffd569;
  padding: 20px;
}

.card-container {
  background-color: #ffffff;
  border-radius: 10px;
  padding: 20px;
  font-family: roboto;
  text-align: center;
}

span {
  color: #ffd569;
}

button {
  background-color: #007bff;
  border: 0px solid;
  border-radius: 2px;
  padding: 5px;
  color: #ffffff;
}

.fruit-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}